//- nav.head-nav.u-fr
//-   ul.head-nav__list
//-     each val, index in theme.menu
//-       li.head-nav__item: a.head-nav__link(href = url_for(val))
//-         = index

- function getNextPost() {
    - if (site.shuffled != null && site.shuffled.length != 0) {
      - return site.shuffled.pop()
    - }
    - site.shuffled = getShuffled()
    - return getNextPost()
- }

- function getShuffled() {
    - let date = (new Date()).getDate()
    - let result = site.posts.toArray().slice()
    - let swap_index = -1
    - for (let i = 0; i < result.length; ++i) {
      - swap_index = (swap_index + date - i) % (result.length -i ) + i
      - let tmp = result[swap_index]
      - for (let j = swap_index; j > i; --j) {
        - result[j] = result[j-1]
      - }
      - result[i] = tmp
    - }
    - return result
- }

nav.head-nav.u-fr
  ul.head-nav__list
      li.head-nav__item: a.head-nav__link(href = url_for(getNextPost().path)) 点我吧