//- nav.head-nav.u-fr
//-   ul.head-nav__list
//-     each val, index in theme.menu
//-       li.head-nav__item: a.head-nav__link(href = url_for(val))
//-         = index

// Everyday, we sort the posts by the hash code of 'path + date', and play the post in such order.
- function getNextPost() {
  - let date = (new Date()).getDate()
  - let posts = site.posts.toArray()
  - posts.sort(function(post1, post2) { return getHashCode(post1.path, date) - getHashCode(post2.path, date) })
  - if (is_home()) logBuildInfo(posts)
  - let index = posts.findIndex(post => getHashCode(post.path, date) == getHashCode(path.slice(0,-10)/*trim trailing 'index.html'*/, date))
  - if (index != -1)
    - return posts[(index + 1) % posts.length]
  - else
    - return posts[0]
- }

- function getHashCode(str, salt) {
  - let salted = str + salt.toString()
  - let hash = 0, i, chr;
  - for (i = 0; i < salted.length; i++) {
    - chr = salted.charCodeAt(i);
    - hash = ((hash << 7) - hash) + chr;
    - hash |= 0;
  - }
  - return hash;
- }

- function logBuildInfo(posts) {
  - console.log('*'.repeat(80))
  - posts.forEach(post => console.log(post.path))
  - console.log('*'.repeat(80))
- }

nav.head-nav.u-fr
  ul.head-nav__list
      li.head-nav__item: a.head-nav__link(href = url_for(getNextPost().path)) 点我吧
